@*@{
    ViewBag.Title = "ErrorPage";
}*@

<h2>Error</h2> @Html.ActionLink(Resources.GlobalString.Home, "Index", "Home") <br /><br />

<img src="@Url.Content("~/Content/Other/error_w1.jpeg")" alt="Error" />
