@model IEnumerable<E_shop.Models.Product>

@using MvcContrib.UI.Grid;
@using MvcContrib.Pagination;
@using MvcContrib.UI.Pager;
@using E_shop.Code;

@{
    string cultureName = null;
    HttpCookie cultureCookie = Request.Cookies["_culture"];
    if (cultureCookie != null) { cultureName = cultureCookie.Value; }
    else { cultureName = Request.UserLanguages[0]; }
    cultureName = E_shop.Utility.CultureHelper.GetImplementedCulture(cultureName);   
}
   
@Html.Grid(Model).Columns(column=>{

column.For(x => x.ImageExt != null ? "<a href=\"" + Url.Action("Details", "Product", new { x.ID })
        + "\"><img src=\"" + Url.Content("~/Content/" + Resources.GlobalString.PRODUCT_IMAGES_FOLDER + "/" + Resources.GlobalString.PRODUCT_IMAGES_MINI_FOLDER+"/" + x.ID + x.ImageExt) + "\"/></a><br />"
        + Html.ActionLink(!cultureName.Equals("en") ? x.NameRu : x.NameEn, "Details", "Product", new { x.ID }, null) : "<a href=\""
        + Url.Action("Details", "Product", new { x.ID }) + "\"><img src=\""
        + Url.Content("~/Content/" + Resources.GlobalString.PRODUCT_IMAGES_FOLDER + "/" + Resources.GlobalString.PRODUCT_IMAGES_MINI_FOLDER + "/0.jpg") + "\"/></a><br />"
        + Html.ActionLink(!cultureName.Equals("en") ? x.NameRu : x.NameEn, "Details", "Product", new { x.ID }, null)).Encode(false).Named(Html.Resource("LastAdded"));
}).Empty(Resources.Other.FoundNot)


@*@Html.Pager((IPagination)Model)*@

