@using E_shop.Code;

@*@{
    ViewBag.Title = string.Format("Благодарим за заказ | {0}", E_shop.Constants.TITLE);
}*@

@*<p>
    @Html.ActionLink("На главную", "Index", "Home")
    @E_shop.Constants.BREADCRUMBS_SEPARATOR
    Благодарим за заказ
</p>*@
<h2>@Html.Resource("ThankYouForYourOrder")</h2>